@CHARSET "UTF-8";


.btn_logout {
    border: 0;
    background: salmon;
    padding: 0 7px;
    font-size: 16px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    text-align: center;
    margin-left: 3px;
}

.btn_logout:hover {
    background: #EDD103;
    color: #d30039;
}

.btn_selected {
    border: 0;
    background: #d30039;
    padding: 0 4px;
    font-size: 16px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    text-align: normal;
}

.btn_selected:hover {
    background: #e9e9e9;
    color: #5f5f5f;
}

.btn_user {
    border: 0;
    background: #b6c0ea;
    padding: 0 7px;
    font-size: 16px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
    color: black;
    font-weight: 500;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;

}

.btn_user:hover {
    background: #97E5FF;
    color: #5f5f5f;
}

#regresar{
    text-decoration: none;
}

#regresar:hover{
    font-size: 20px;
    color: #0293C7;
}

#aqui:hover{
    font-size: 20px;
}


.titulo{
    font-size: 20px;
    text-shadow: 3px 2px #d1cecd;
    text-align: center;
}


/*Agregrar animación y pantalla negra al inicio*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0293C3;/*#3498db*/
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #97E5FF; /*#e74c3c;*/
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #d30039;/*#f9c922;*/
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

h1 {
    color: #EEEEEE;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}

/*  Para el efecto menú */
body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
}

.inbox{
    font-size: 13px !important;
}

.inbox:hover{
    background: #21EED5;
    color: #d30039
}

.item{
    font-size: 15px !important;
}


.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

.menu{
    background-color: #B7E5E8;
}

.logo>img:hover{
    background-color: #45B8FF;
}

/* Float the link section to the right */
.header-right {
    float: right !important;
    text-align: center;
    margin: 0 auto;
}

.itemm{
    border: 0;
    background: #e9e9e9;
    padding: 0 7px;
    font-size: 16px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    text-align: center;
    float: right;
    margin-left: 3px;
}

.itemm:hover{
    background-color: #45B8FF;
    display: inline-block;
}

.activo{
    background-color: #45B8FF;
    text-decoration: none;
    color: black;
    display: inline-block;
    line-height: 42px;
    padding: 0 7px;
    float: right;
    margin-left: 3px;
}

.activo:hover{
    background-color: #B7E8CB;
    color: #5f5f5f;
}

.link{
    text-decoration: none;
}

.link>i:hover{
    font-size: 22px;
    color: blue;
}

.linkn{
    text-decoration: none;
}

.linkn>i:hover{
    font-size: 22px;
    color: yellow;
}

#downloadn_action:hover{
    color: #4CAF50;
}

#delete_action:hover{
    color: red;
}

.material-icons.md-18 {
    font-size: 18px;
}

.excel:hover{
    width: 21px;
    height: 21px;
}

.panelContent{
    margin-top: 10px;
    padding-bottom: 15px !important;
}

.user{
    text-decoration: none;
    color: black;
}

.user:hover{
    color: #0293C3;
    font-size: 18px;
    cursor: pointer;
}

.vd-hidden-column {
    display: none;
    width: 0;
    height: 0;
}

.maxsize{
    width: 100% !important;
}

.twenty-percent{
    width: 23%;
}

.seventy-percent{
    width: 76%;
}

.ui-datatable{
    font-size: 10px !important;
}
.ui-editable-column{
    font-size: 10px;
}
.ui-datatable-header{
    background-color: #8ca7c6 !important;
    font-size: 10px;
    padding: 3px !important;
}
.ui-column-title{
    font-size: 10px !important;
}
.ui-paginator-bottom{
    background-color:#8ca7c6 !important;
    font-size: 10px;
    padding: 3px !important;
}

.ui-paginator-top{
    background-color:#d0dae5 !important;/*#0AACE3*/
    font-size: 10px;
    padding: 3px !important;
}

.ui-state-default{
    background-color:#F3FBFF !important;
    font-size: 10px;
}

.ui-state-default:hover{
    color: blue !important;
}

.ui-widget-content{
    font-size: 10px;
}

.ui-datatable-footer{
    font-size: 10px;
}

.ui-datatable-header{
    font-size: 10px;
}

.ui-paginator-page.ui-state-active{
    background: #4dd0e1 !important;
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td{
    padding:2px 5px !important;
}

.ui-panel-titlebar{
    background-color:#0293C3 !important;
}

.ui-paginator-rpp-options{
    font-size: 13px !important;
}

.ui-paginator-current{
    font-size: 13px !important;
}

.ui-spinner-input{
    text-align: left;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    background: #2196F3 !important;
}

.btn_peque{   
    color: black !important; 
    font-size: 12px !important; 
    padding: 0px 5px !important;
}

.btn_peque:hover{
    background-color: #269abc !important;
}

.btn_down{   
    color: black !important;
    font-size:  10px !important;
}

.btn_down:hover{
    background-color: #269abc !important;
    color: white !important;
}

.btn_cerrar{
    color: black !important; 
    font-size: 12px !important; 
    padding: 0px 5px !important;
}

.btn_cerrar:hover{
    background-color: #FF5252 !important;
}

.ui-widget .ui-widget{
    font-size: 16px !important;
    color: black;
}

body .ui-dialog .ui-dialog-titlebar {
    padding: 5px;
}

body .ui-panelgrid .ui-panelgrid-cell {
    padding: 1px !important;
    height: 2px !important;
}

body .ui-inputfield {
    padding: 10px !important;
}

body .ui-panel .ui-panel-content {
    padding: 4px !important;
}

.green_color{
    background: green !important;
}

.border_green_color{
    border: solid green !important;
}

.border_red_color{
    border: solid red !important;
}

.border_orange_color{
    border: solid orange !important;
}

.border_pink_color{
    border: solid pink !important;
}

.border_purple_color{
    border: solid purple !important;
}

.ui-datepicker-today .ui-state-default{
    background: #E8F5E5 !important;
}

.ui-datepicker-current-day .ui-state-active{
    background: green !important;
    color: white !important;
}

.ui-datepicker .ui-state-default:hover{
    background: #81C784 !important;
}

.fiveteen-percent{
    width: 15%;
    text-align: right;
    font-weight: bold;
}

.thirty-five-percent{
    width: 35%;
}

.estilo_orange{
    background: #dce775 !important;
}

.row-erjafe {
    border-bottom: solid #00E676 !important;
}

.row-coa {
    border-bottom: solid dodgerblue !important;
}

.row-reglamento {
    border-bottom: solid #9c27b0 !important;
}